.a{
    background-color: #5555FF;
    font-family: 微軟正黑體;
    color: white;
    font-size: 30px;
}
.b{
    background-color: red;
}
.c{
    color: white;
    font-family: 微軟正黑體;
    font-size: 50px;
}
.z{
    color: white;
    font-family: 微軟正黑體;
    font-size: 30px;
}
